@{
    ViewData["Title"] = "Home Page";
}


@model List<Tarea>

<h2>Lista de Tareas</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th >Id</th>
            <th >Id_tablero</th>
            <th>Nombre</th> 
            <th>Estado</th> 
            <th>Descripcion</th>
            <th>color</th>
            <th>id_usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model)
        {
            <tr>
                <td>@tarea.Id</td>
                <td>@tarea.IdTablero</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Id_propietario</td>
                <td><a asp-asp-controller ="Tablero" asp-action="ModificarTablero" asp-route-idTablero="@tablero.Id">Modificar</a></td>
                <td><a asp-asp-controller ="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@tablero.Id" onclick="return confirm('¿Estás seguro de eliminar este tablero?')">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>