@{
    ViewData["Title"] = "Home Page";
}

@using tl2_tp10_2023_GuilloValle.ViewModels
@model ListarTareasViewModel

<h2>Lista de Tareas</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th >Id</th>
            <th >Id_tablero</th>
            <th>Nombre</th> 
            <th>Estado</th> 
            <th>Descripcion</th>
            <th>color</th>
            <th>id_usuario_asignado</th>
            <th>Modificar Tarea</th>
            <th>Eliminar Tarea</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.ListarTareasVM)
        {
            <tr>
                <td>@tarea.Id_tarea</td>
                <td>@tarea.Id_Tablero</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Estado</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.Id_Usuario_Asingnado</td>
                <td><a asp-asp-controller ="Tarea" asp-action="ModificarTarea" asp-route-idTarea="@tarea.Id_tarea">Modificar</a></td>
                <td><a asp-asp-controller ="Tarea" asp-action="EliminarTarea" asp-route-idTarea="@tarea.Id_tarea" onclick="return confirm('¿Estás seguro de eliminar este tablero?')">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>